In [33]:
#1.
x=5
print(x)

5

In [29]:
#2.
print(type(8.5))

<class 'float'>

In [3]:
#3.
print(type(x))

<class 'int'>

In [5]:
#4.
y='Josue Monte'
print(y)

Josue Monte

In [6]:
#5.
z=8j

In [7]:
#6.
type(z)

complex

In [9]:
#7. 
import math

In [14]:
w=math.pi

In [15]:
2round(w,4)

3.1416

In [32]:
#8y9. El valor 'True' es una función string, mientras que el valor True es una función bool. Por tal motivo, son distintos
a='True'
b=True
c=bool(1)
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

True
<class 'str'>
True
<class 'bool'>
True
<class 'bool'>

In [40]:
#10.
c=5+5.5
print(c)

10.5

In [41]:
#11.
d=5+5j
e=10+10j
f=d+e
print(f)

(15+15j)

In [43]:
#12.
g=100
h=100j
i=g+h
print(i)

(100+100j)

In [44]:
#13.
j=5*5
print(j)

25

In [45]:
#14.
k=2**8
print(k)

256

In [46]:
#15.
l=27/4
print(l)

6.75

In [47]:
#16.
m=27//4
print(m)

6

In [48]:
#17.
n=27%4
print(n)

3

In [49]:
#18.
o=4*6+3
print(o)

27

In [33]:
#19.
a='Buenos '
b='Aires'
c=a+b
print(c)

Buenos Aires

In [34]:
#20. Rta: "2" no es igual a 2 porque "2" es un dato tipo string y 2 es un dato tipo int
print(type("2"))
print(type(2))
2=='2'

<class 'str'>
<class 'int'>

False

In [35]:
#21.
print(type("2"))
print(type(2))
2==int('2')

<class 'str'>
<class 'int'>

True

In [37]:
#22. Rta: a=float('3,8') arroja un mensaje de error porque está con coma, en lugar de punto, es decir, debiera decir: 3.8.
a=float("3,8")
print(type(a))
print(a)

ValueError: could not convert string to float: '3,8'

In [17]:
#23.
a=3
a-=1
print(a)

2

In [19]:
#24. Rta: El sistema de numeración binario es un sistema numérico que solo utiliza dígitos 0 y 1. Lo que ocurre, es que 1<<2 es una operación de desplazamiento, es decir, <001> significa 2^0=1, pero si lo corro dos dígitos a la izquierda <100>, resulta: 2^2=4,
1<<2

4

In [1]:
#25. La operación 2+'2' no está permitido porque no se puede sumar una variable tipo int y una variable tipo string
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
print(float('2')+float(2))
print(int('2')+int(2))
print(str('2')+str(2))

4.0
4
22

In [5]:
#26.
a='Bienvenido a Henry '
b=2
c=a*b
print(c,b,' veces')

Bienvenido a Henry Bienvenido a Henry  2  veces